/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer base {
    body {
        color: var(--color-text);
        font-family: "Rubik", sans-serif;
        background-color: var(--bg-color-body);
    }

    .container {
        overflow: hidden;
    }

    .fallback-mask {
        mask-image: none;
        -webkit-mask-image: none;
        background-clip: content-box;
    }

    :root {
        /* color-scheme: dark; */
        --color-primary: #B9FF66; /* HSL values are often used for easier manipulation */
        --color-text: #000;
        --color-text-dark: #09090b;
        --bg-color: #F3F3F3;
        --bg-color-dark: #191A23;
        --bg-color-body: #fff;
        /* ... other variables like font-size, spacing, etc. */
    }
    .dark {
        --color-text: #09090b;
        --color-text-dark: #ffffff;
        --bg-color: #09090b;
        --foreground: #ffffff;
        --bg-color-body: var(--bg-color)
    }
}

@layer components {

}


@theme {
    --color-color-primary: var(--color-primary);
    --color-main-color: var(--bg-color);
    --color-color-dark: var(--bg-color-dark);
    --color-color-text: var(--color-text-dark);
}


@theme {
    --animate-logo: logo 0.6s ease;
    --animate-open-menu: openMenu 0.2s ease;
    --animate-logo-menu-close: closeLogo 0.6s ease;
    --drop-shadow-vercal: 0px 0px 10pxpx rgba(0, 0, 0); 

    @keyframes logo {

        0% {
            transform: translateY(-350px);
        }
        100% {
            transform: translateY(0px)
        }
    }

    @keyframes openMenu {

        0% {
            transform: translateX(-350px);
        }
        100% {
            transform: translateX(0px)
        }
    }

    @keyframes closeLogo {

        0% {
            transform: translateY(-100px) scale(1.5)
        }
        
        100% {
            transform: translateY(0px) scale(1)
        }
    }
}